<button
  (click)="handleClick()"
  type="button"
  [disabled]="disabled"
  [ngClass]="[
    overRideButtonClass ? getCustomClass : 'align-center items-center',
    disabled ? 'cursor-not-allowed' : '',
  ]"
>
  <ng-content #body></ng-content>
  <div class="flex items-center gap-2 mx-auto">
    <span><img src="{{ buttonImage }}" class="" /></span>
    <span>{{ buttonText }} </span>
    <span class="" *ngIf="buttonImage2">
      <img [src]="buttonImage2" alt="button-image" />
    </span>
  </div>
</button>
