<div class=" p-4 md:p-12 w-full md:w-[500px] rounded-lg">
    <form [formGroup]="formGroup">
        <div>
            <label for=""> Firstname</label>
            <input type="text" formControlName="firstname" placeholder="Type here" class="input font-semibold focus:outline-none w-full input-bordered input-primary " />
        </div>
        <div class="mt-5">
            <label for=""> Lastname</label>
            <input type="text" formControlName="lastname" placeholder="Type here" class="input font-semibold focus:outline-none w-full input-bordered input-primary " />
        </div>
        <div class="mt-12 flex justify-center">
            <button class="btn btn-primary" [disabled]="formGroup.invalid" (click)="confrimationModal()">Submit</button>
        </div>
    </form>
</div>