<section class=" bg-gray-shade-two rounded grid grid-row mt-12 px-8 justify-between py-4 md:grid-cols-2 lg:mx-8 lg:grid-cols-4 lg:rounded-xl">
    <div> 
        <h5 class="font-bold font-lato tracking-widest text-[1.05rem] my-4 uppercase"> Traders Tools </h5>
        <ul>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Trading Calculator </li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Profit Calculator</li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Pips Calculator</li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Live Quotes</li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Monitoring</li>
        </ul>
    </div>
    <div> 
        <h5 class="font-bold font-lato tracking-widest text-[1.05rem] my-4 uppercase"> Analytics </h5>
        <ul>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Market Information </li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue"> Economic Calendar</li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Market Insight</li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue" routerLink="/news"> Forex News </li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue"> Interest Rate </li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue"> Holiday Calendar </li>
        </ul>
    </div>

    <div> 
        <h5 class="font-bold font-lato tracking-widest text-[1.05rem] my-4 uppercase"> Education </h5>
        <ul>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue"> Webinar </li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Forex Basic Aritcles</li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue">Platform Tutorial Article</li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue"> Glossary </li>
            <li class="text-black font-rubik text-[14px] my-2 cursor-pointer hover:text-blue"> FAQ </li>
        </ul>
    </div>


    <div>
        <h3 class="text-center font-opensans font-bold my-4 uppercase"> Three Easy Steps to Become a Professional Trader</h3>
        <div class="flex justify-center items-center">
            <img src="assets/images/trading-jet.png" alt="trading jet">
        </div>
        <div class="flex justify-center items-center mt-2">
            <app-button text="Discover now" class="uppercase rounded-3xl px-4 py-1 bg-white text-blue font-rubik font-[600] hover:text-white transition-all duration-500 hover:bg-deep-blue"> </app-button>
        </div>
    </div>

</section>
<footer class=" px-8  border-t border-gray-shade-two mt-10">
    <div class="block  justify-end py-4 md:space-x-4 md:flex">
        <div>
            <h5 class="uppercase tracking-widest font-opensans font-bold text-[14px] mb-[-10px]"> Get the App</h5>
            <img src="assets/images/App-Store-Symbol.png" class="w-32 h-20 block my-0" alt="apple stoe logo">
            <img src="assets/images/play-store.png" class="w-32 h-18 block mt-[-10px]" alt="play store">
        </div>
    
        <div class="w-full mt-3  lg:w-1/5 lg:mx-2 lg:mt-0">
            <h5 class="uppercase tracking-widest font-opensans font-bold text-[14px] mb-4"> Follow Us </h5>
            <div class="flex items-end space-x-4">
                <img class="cursor-pointer" src="assets/images/icon-fb-redesign.svg" alt="facebook">
                <img class="cursor-pointer" src="assets/images/icon-tw-redesign.svg" alt="twitter">
                <img class="cursor-pointer" src="assets/images/icon-linkedin-redesign.svg" alt="linkedin">
                <img class="cursor-pointer" src="assets/images/icon-inst-redesign.svg" alt="instagram">
                <img class="cursor-pointer" src="assets/images/icon-yt-redesign.svg" alt="youtube">
                <img class="cursor-pointer" src="assets/images/icon-tg-redesign.svg" alt="telegram">
            </div>
        </div>
    </div>
    <div class="border-t mx-1 px-1 mt-8 pt-4 lg:mx-8">
        <p class="text-[14px] font-lato font-bold text-gray-shade-three"> &copy; 2022 fx-jorunal. Contact email : support@fx-journal.com </p>
    </div>
</footer>
