
<div class="w-full  px-4 bg-deep-blue py-12 h-screen">
  <div
    class="bg-white my-auto p-5 w-full lg:w-[500px] mx-auto shadow-blue shadow-md md:p-12 rounded-xl"
  >
    <div class="flex justify-between items-center">
      <h1 class="font-rubik font-bold text-xl text-blue-shade-one">Sign In</h1>
      <!-- <div class="cursor-pointer" (click)="closeLoginModal()">
                 <img src="assets/images/close.svg" class=" w-8" alt="">
             </div> -->
    </div>
    <div class="my-8">
      <div [formGroup]="loginForm" (ngSubmit)="loginToPortal(loginForm.value)">
        <div>
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            class="px-4 py-4 rounded-lg tracking-wider focus:border-blue-shade-one border-2 placeholder:font-lato font-lato font-bold text-black w-full"
          />
          <span
            class="text-[red] text-[12px]"
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            Email is required
          </span>
          <span
            class="text-[red] text-[12px]"
            *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched"
          >
            Invalid email address
          </span>
        </div>
        <div class="mt-4 relative">
          <input
            [type]="password"
            formControlName="password"
            placeholder="Password"
            class="px-4 py-4 rounded-lg tracking-wider focus:border-blue-shade-one border-2 placeholder:font-lato font-lato font-bold text-black w-full"
          />
          <span
            class="text-[red] text-[12px]"
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          >
            Password is required
          </span>
          <p
            class="absolute top-4 right-3 cursor-pointer"
            (click)="toggleIconShow()"
          >
            <i class="fa {{ icon }}"></i>
          </p>
        </div>
        <!-- <div class="text-blue-shade-one mt-2 font-lato font-bold uppercase text-[12px] tracking-wide cursor-pointer" routerLink="/forgot-password"> forgot password? </div> -->

        <app-button
          [overRideButtonClass]="true"
          [disabled]="loginForm.invalid"
          routerLink="/main"
          (buttonClick)="login()"
          [customClass]="
            'btn bg-[#0039A6] mt-5 hover:bg-[#0039A6] capitalize flex justify-center w-full py-3 rounded-xl px-6 text-center md:text-base text-white'
          "
          [buttonText]="'Login'"
        ></app-button>

        <div class="mt-8">
          <app-button
          [overRideButtonClass]="true"
          routerLink="/registration"
          [customClass]="
            'uppercase w-full rounded-3xl flex justify-center px-8 py-4 bg-gray-shade-one text-blue-shade-one font-rubik font-[600] transition-all duration-500 hover:bg-gray-shade-two tracking-widest'
          "
          [buttonText]="'Registration'"
        ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
