<div class="flex flex-col-reverse mt-8 md:h-[90vh] lg:flex-row px-4 py-2 lg:space-x-4 lg:mt-16 lg:px-12">
    
    <div class="w-full lg:w-[70%] ">
        <h1 class="font-fira font-bold text-xl tracking-widest mb-4"> My Personal Information </h1>
        <p class="text-gray-one text-[14px] mb-4 font-fira font-medium">Here you can view and change your personal information at OctaFX. Please note that the information must be valid and correct.</p>

        <div class="bg-white  rounded-xl px-2 py-4">
            <div class="flex justify-between border-b border-black items-center py-2 px-2">
                <p class="font-fira font-medium text-[14px]"> Email</p>
                <p class="font-fira font-medium text-[14px]"> {{userData?.email || "Badoo"}} </p>
            </div>
            <div class="flex justify-between border-b border-black items-center py-2 px-2">
                <p class="font-fira font-medium text-[14px]">Phone </p>
                <p class="font-fira font-medium text-[14px]"> {{userData?.phone ||  "+234 8164967808"}}  (<span class="text-blue cursor-pointer" (click)="openPhoneModal(userData?.phone)">  change</span> )</p>
            </div>
            <div class="flex justify-between border-b border-black items-center py-2 px-2">
                <p class="font-fira font-medium text-[14px]"> Name</p>
                <p class="font-fira font-medium text-[14px]"> {{userData?.firstname }} {{userData?.lastname}} (<span class="text-blue cursor-pointer" (click)="openModal(userData?.firstname, userData?.lastname)">  change</span> )</p>
            </div>
            <div class="flex justify-between border-b border-black items-center py-2 px-2">
                <p class="font-fira font-medium text-[14px]"> D O B </p>
                <p class="font-fira font-medium text-[14px]"> {{userData?.birthdate || "Nill"}} (<span class="text-blue cursor-pointer" (click)="openDOBModal(userData?.birthdate)">  change</span> )</p>
            </div>
            <div class="flex justify-between border-b border-black items-center py-2 px-2">
                <p class="font-fira font-medium text-[14px]"> Address</p>
                <p class="font-fira font-medium text-[14px]"> {{userData?.address || "NIll"}} (<span class="text-blue cursor-pointer" (click)="openAddressModal(userData?.address)">  change</span> )</p>
            </div>
            <div class="flex justify-between border-b border-black items-center py-2 px-2">
                <p class="font-fira font-medium text-[14px]"> Verification status</p>
                <p class="font-fira font-medium text-[14px]"> Verified</p>
            </div>
            <div class="flex justify-between border-b border-black items-center py-2 px-2">
                <p class="font-fira font-medium text-[14px]"> Contest nickname</p>
                <p class="font-fira font-medium text-[14px]"> {{userData?.nickname  || "Nill"}} </p>
            </div>
        </div>
    </div>
    <!-- <div class="w-full lg:w-[30%] border-2 border-white bg-[#e2e2e2]">
        <img [src]="userData?.avatar || 'assets/images/trading-jet.png'" class="w-full" alt="">
        <div>
            <p class="text-center font-fira font-medium"> My Avatar ( <span class="text-blue cursor-pointer" (click)=openUploadModal()> change</span> | <span class="text-blue cursor-pointer">Remove</span> )</p>
        </div>
    </div> -->
</div>
