<div class="formgroup">
    <input
      [type]="type"
      [placeholder]="placeholder"
      [class]="class"
      [required]="required"
      [readonly]="readonly"
      [formControl]="control"
      [ngClass]="{ 'is-invalid': invalid }"
      [value]="value"
      [minlength]="minlength"
      [pattern]="pattern"
    />
  </div>
  
  <ng-container>
    <small
      class="text-red-500 mt-1"
      [class.hidden]="control?.valid || control?.untouched"
      *ngIf="control?.errors"
    >
      {{ errorMessage }}
    </small>
  
    <small class="text-red-500 mt-1" *ngIf="control.errors?.['minlength']">
      This must be at least {{control.errors?.['minlength'].requiredLength}}
    </small>
  </ng-container>
  